/* Font setup */
@font-face {
    font-family: "Airbnb Cereal App";
    src: url('font/Cereal-Medium.ttf');
}

@font-face {
    font-family: "Airbnb Cereal App Bold";
    src: url('font/Cereal-Bold.ttf');
}

@font-face {
    font-family: "Airbnb Cereal App Light";
    src: url('font/Cereal-Light.ttf');
}

.root {
    -fx-font-family: "Airbnb Cereal App";
}

.light {
    -fx-font-family: "Airbnb Cereal App Light";
}

.bold {
    -fx-font-family: "Airbnb Cereal App Bold";
}

.root {
    -fx-background-image: url("../img/background.png");
}

#centralPane {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 5px;
}
